<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="autodev.ddd.platform.mybatis.PurchasesMapper">
    <resultMap id="purchase" type="autodev.ddd.platform.model.Purchase">
        <id property="identity" column="id" jdbcType="BIGINT" javaType="String"/>
        <association property="description" javaType="autodev.ddd.platform.description.PurchaseDescription">
            <constructor>
                <arg column="created_at" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            </constructor>
        </association>
    </resultMap>

    <select id="countPurchasesByPurchaserId" resultType="int">
        SELECT COUNT(*)
        FROM "PURCHASES"
        WHERE PURCHASER_ID = #{purchaserId}
    </select>

    <select id="findPurchaseByPurchaserIdAndId" resultMap="purchase">
        SELECT
            p.ID,
            p.PURCHASER_ID,
            p.CREATED_AT
        FROM PURCHASES p
        WHERE p.purchaser_id = #{purchaser_id}
          AND p.id = #{id}
    </select>

    <select id="findPurchasesByPurchaserId" resultMap="purchase">
        SELECT
            p.ID,
            p.PURCHASER_ID,
            p.CREATED_AT
        FROM PURCHASES p
        WHERE p.purchaser_id = #{purchaser_id}
        LIMIT #{size} OFFSET #{from}
    </select>
</mapper>